<div class="row">
  <div class="col-lg-12 px-3">
    <div class="dashboard_graph">
      <div class="row x_title">
        <h3>Title</h3>
      </div>
      <div class="row">
        <div class="col-lg-12 pl-3">
          @!yield($slot.body)
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>